/* #hero{
    background-image: url(https://static.vecteezy.com/system/resources/previews/046/256/423/non_2x/items-on-black-table-background-design-of-random-objects-on-table-free-photo.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
} */